<% @ Master Language="C#" %>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <title>ONLYOFFICE</title>
</head>
    <body style="height: 100%; margin: 0;">
        <form id="Form1" runat="server" style="height: 100%; margin: 0;">
        <div style="height: 100%; margin: 0;">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>
        </form>
    </body>
</html>